Originally from: https://rpubs.com/jacoblong/content-analysis-krippendorff-alpha-R
<h2>Step-by-step instruction of the Syntax</h2>

In [1]:
# Setting up necessary libraries (i.e., tools for testing Krippendorff's alpha)
#Installing them packages if they are not installed:
for (p in c("tidyverse", "irr")) {
  if (!requireNamespace(p)) {
    install.packages(p)
  }
}
# Load the libraries
library(tidyverse)
library(irr)

Loading required namespace: tidyverse

Loading required namespace: irr

-- Attaching core tidyverse packages ------------------------ tidyverse 2.0.0 --
v dplyr     1.1.3     v readr     2.1.4
v forcats   1.0.0     v stringr   1.5.0
v ggplot2   3.4.4     v tibble    3.2.1
v lubridate 1.9.3     v tidyr     1.3.0
v purrr     1.0.2
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
i Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
Loading required package: lpSolve

In [2]:
#Creat/add data
test_data <-
  tribble(
    ~content_id, ~coder_id, ~ExVar1, ~ExVar2,   ~ExVar3,
    1,           "A",       1,     "Red",   FALSE,
    2,           "A",       3,     "Blue",  TRUE,
    3,           "A",       5,     "Blue",  TRUE,
    4,           "A",       7,     "Green", TRUE,
    5,           "A",       1,     "Red",   FALSE,
    1,           "B",       1,     "Red",   FALSE,
    2,           "B",       3,     "Blue",  FALSE,
    3,           "B",       3,     "Green", FALSE,
    4,           "B",       7,     "Green", TRUE,
    5,           "B",       3,     "Red",   FALSE,
  )
#show data
test_data

   content_id coder_id ExVar1 ExVar2 ExVar3
1  1          A        1      Red    FALSE
2  2          A        3      Blue    TRUE
3  3          A        5      Blue    TRUE
4  4          A        7      Green   TRUE
5  5          A        1      Red    FALSE
6  1          B        1      Red    FALSE
7  2          B        3      Blue   FALSE
8  3          B        3      Green  FALSE
9  4          B        7      Green   TRUE
10 5          B        3      Red    FALSE

In [3]:
#transposing the data into wide dataset
#coder_id is the row, now each content id is a column, and the target variable is the value
wide_data <- pivot_wider(test_data, id_cols = coder_id, names_from = content_id, values_from = ExVar1)
wide_data

  coder_id 1 2 3 4 5
1 A        1 3 5 7 1
2 B        1 3 3 7 3

In [4]:
#removing coder_id column to run Krippendorff's alpha
wide_data <- select(wide_data, -coder_id)
wide_data

  1 2 3 4 5
1 1 3 5 7 1
2 1 3 3 7 3

In [5]:
#making the dataset even simpler for Krippendorff's alpha
wide_data <- as.matrix(wide_data)
wide_data

     1 2 3 4 5
[1,] 1 3 5 7 1
[2,] 1 3 3 7 3

In [6]:
#Krippendorf's Alpha should be over 0.8
func1 <- function (Target_Variable, name=deparse(substitute(Target_Variable))) {
    name
}

func1(ExVar1)
kripp.alpha(wide_data, method = "ratio")#method can be "nominal" or "ordinal", "interval", or "ratio" depending on the variable type.

[1] "ExVar1"

 Krippendorff's alpha

 Subjects = 5
   Raters = 2
    alpha = 0.697

<h2>Repeating above for all variables</h2>
You can run the above for all the variables in your dataset by copy-pasting your dataset in the syntax below. 

1. Follow what the hastags (#) between lines in the syntax and follow them. 
2. Save your excel sheet into a CSV file. 
3. Open the file with a text editor. 
4. Make sure that the CSV file indicates different rows and columns using commas and not something else.
4. Copy all the text and paste it within the syntax. 
5. Note that for this code to work, the two indicator variables, content_id, and coder_id, in the dataset should be used verbatim as variable names for the case indicator and the coder.
6. Categorical variables, for example ExVar2, does not work. They need to be changed into numeric values. 
7. We will assume that all categorical variables are nominal, and all numeric variables are ratio.
    - Intervals have 0, positive, and negative values, while ratios are positive values only (and thus can be divided).
8. Do not include missing data.

<br />
Note. You can ignore the warning that looks like this:

```
Warning message:
"Using an external vector in selections was deprecated in tidyselect 1.1.0.
i Please use `all_of()` or `any_of()` instead.
  # Was:
  data %>% select(i)

  # Now:
  data %>% select(all_of(i))

See <https://tidyselect.r-lib.org/reference/faq-external-vector.html>."
```

<h3>Numeric Variables</h3>
Nominal (categorical) variables will print "NA" as result and give you a warning/error message. Ignore them and see the next step.

In [7]:
for (p in c("tidyverse", "irr")) {
  if (!requireNamespace(p)) {
    install.packages(p)
  }
}
library(tidyverse)
library(irr)
test_data <-
  tribble(
    ~content_id, ~coder_id, ~ExVar1, ~ExVar2,   ~ExVar3,     #replace the syntax starting from this lane
    1,           "A",       1,     "Red",   FALSE,
    2,           "A",       3,     "Blue",  TRUE,
    3,           "A",       5,     "Blue",  TRUE,
    4,           "A",       7,     "Green", TRUE,
    5,           "A",       1,     "Red",   FALSE,
    1,           "B",       1,     "Red",   FALSE,
    2,           "B",       3,     "Blue",  FALSE,
    3,           "B",       3,     "Green", FALSE,
    4,           "B",       7,     "Green", TRUE,
    5,           "B",       3,     "Red",   FALSE,           #to this lane by paste your data
  )
#creating a list of variable names
dflist <- colnames(test_data)
dflist <- dflist[dflist != 'content_id']
dflist <- dflist[dflist != 'coder_id']
#cycling throuh the list of variables and run Krippendorff's alpha
for (i in dflist) {
  wide_data <- pivot_wider(test_data, id_cols = coder_id, names_from = content_id, values_from = i)
  wide_data <- select(wide_data, -coder_id)
  wide_data <- as.matrix(wide_data)
  Result <- kripp.alpha(wide_data, method = "ratio")
  print(i)
  print(Result)
  }

Warning message:
"Using an external vector in selections was deprecated in tidyselect 1.1.0.
i Please use `all_of()` or `any_of()` instead.
  # Was:
  data %>% select(i)

  # Now:
  data %>% select(all_of(i))

See <https://tidyselect.r-lib.org/reference/faq-external-vector.html>."

[1] "ExVar1"
 Krippendorff's alpha

 Subjects = 5
   Raters = 2
    alpha = 0.697

Warning message in kripp.alpha(wide_data, method = "ratio"):
"NAs introduced by coercion"

[1] "ExVar2"
 Krippendorff's alpha

 Subjects = 5
   Raters = 2
    alpha = NA

Warning message in kripp.alpha(wide_data, method = "ratio"):
"NAs introduced by coercion"

[1] "ExVar3"
 Krippendorff's alpha

 Subjects = 5
   Raters = 2
    alpha = NA

<h3>Nominal Variables</h3>
Ignore the results for numeric (ratio or interval) variables will print "NA" as result. Categorical variables need to be converted into numeric values (compare the data in this example to the dataset above) for accurate results.

In [8]:
library(tidyverse)
library(irr)
test_data <-
  tribble(
    ~content_id, ~coder_id, ~ExVar1, ~ExVar2,   ~ExVar3, #replace the syntax starting from this lane
    1,           "A",       1,     1,   0,
    2,           "A",       3,     2,   1,       #ExVar2 and ExVar3, the two nominal variables are now in numeric values
    3,           "A",       5,     2,   1,
    4,           "A",       7,     3,   1,
    5,           "A",       1,     4,   0,
    1,           "B",       1,     1,   0,
    2,           "B",       3,     2,   0,
    3,           "B",       3,     3,   0,
    4,           "B",       7,     3,   1,
    5,           "B",       3,     4,   0,           #to this lane by paste your data
  )
#creating a list of variable names
dflist <- colnames(test_data)
dflist <- dflist[dflist != 'content_id']
dflist <- dflist[dflist != 'coder_id']
#cycling throuh the list of variables and run Krippendorff's alpha
for (i in dflist) {
  wide_data <- pivot_wider(test_data, id_cols = coder_id, names_from = content_id, values_from = i)
  wide_data <- select(wide_data, -coder_id)
  wide_data <- as.matrix(wide_data)
  Result <- kripp.alpha(wide_data, method = "nominal")
  print(i)
  print(Result)
  }

[1] "ExVar1"
 Krippendorff's alpha

 Subjects = 5
   Raters = 2
    alpha = 0.486
[1] "ExVar2"
 Krippendorff's alpha

 Subjects = 5
   Raters = 2
    alpha = 0.757
[1] "ExVar3"
 Krippendorff's alpha

 Subjects = 5
   Raters = 2
    alpha = 0.25