In [148]:
 #using mystats env
import pandas as pd
import pingouin as pg
import association_metrics as am
from scipy.stats import chisquare
import pyreadstat
import statsmodels.api as sm

In [149]:
#open file
df=pd.read_spss("2020_2016_cnn_fox_tweets_coverage.sav")
#check column names
df.columns

Index(['STORYNUMBER', 'CODER', 'YEAR', 'PUBLICATIONDATE', 'URL', 'PUBLISHER',
       'STORYTYPE', 'STORYTOPIC', 'STORYGENERICFRAMESDOMINANT',
       'STORYGENERICFRAMESSECONDARY', 'STORYEMOTIONALFRAMES',
       'STORYCONTAINSFALSESTATEMENT', 'STORYCLAIMSANOTHERSOURCEISFALSE',
       'STORYFACTCHECKSTWEET', 'SENSATIONALISM', 'src_expert', 'src_opponent',
       'src_otherpolitician', 'src_privatecitizen', 'src_media', 'src_other',
       'NUMBEROFTWEETSBYCANDIDATES', 'NUMBEROFTWEETSFROMOTHERS', 'TWEETBY',
       'TWEETPRESENTATION', 'TWEETGENERICFRAMESDOMINANT',
       'TWEETGENERICFRAMESSECONDARY', 'TWEETEMOTIONALFRAMES',
       'TWEETCONTAINSFALSESTATEMENT', 'TWEETCLAIMSSOMETHINGELSEISFALSE',
       'TWEETTOPIC', 'TWEETROLETOTHESTORY', 'STORYROLETOTWEET', 'filter_$',
       'SRC_TOTAL'],
      dtype='object')

In [150]:
#create a new column with the publisher and year
df["PUBLISHERYEAR"]=df.PUBLISHER.astype(str)+df.YEAR.astype(str)
df.to_csv("2020_2016_cnn_fox_tweets_coverage.csv")

In [151]:
#unit of analysis is story
dfstory=df[['STORYNUMBER', 'CODER', 'YEAR', 'PUBLICATIONDATE', 'URL', 'PUBLISHER', "PUBLISHERYEAR",
       'STORYTYPE', 'STORYTOPIC', 'STORYGENERICFRAMESDOMINANT',
       'STORYGENERICFRAMESSECONDARY', 'STORYEMOTIONALFRAMES',
       'STORYCONTAINSFALSESTATEMENT', 'STORYCLAIMSANOTHERSOURCEISFALSE',
       'STORYFACTCHECKSTWEET', 'SENSATIONALISM', 'src_expert', 'src_opponent',
       'src_otherpolitician', 'src_privatecitizen', 'src_media', 'src_other']]
#remove duplicates
dfstory.drop_duplicates(subset=['STORYNUMBER'], keep='first', inplace=True)
#dv list for stories
DVstory=['STORYTYPE', 'STORYTOPIC', 'STORYGENERICFRAMESDOMINANT',
       'STORYGENERICFRAMESSECONDARY', 'STORYEMOTIONALFRAMES',
       'STORYCONTAINSFALSESTATEMENT', 'STORYCLAIMSANOTHERSOURCEISFALSE',
       'STORYFACTCHECKSTWEET', 'SENSATIONALISM', 'src_expert', 'src_opponent',
       'src_otherpolitician', 'src_privatecitizen', 'src_media', 'src_other']
dfstory
dfstory2020=dfstory.loc[dfstory['YEAR'] == "2020"]
dfstory2016=dfstory.loc[dfstory['YEAR'] == "2016"]
dfstoryFOX=dfstory.loc[dfstory['PUBLISHER'] == "fox"]
dfstoryCNN=dfstory.loc[dfstory['PUBLISHER'] == "cnn"]

/var/folders/p9/s35_kx491l3f1qcxx11y7p280000gn/T/ipykernel_26346/4189622138.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfstory.drop_duplicates(subset=['STORYNUMBER'], keep='first', inplace=True)

In [152]:
#unit of analysis is tweet
dftweet=df[['STORYNUMBER', 'CODER', 'YEAR', 'PUBLICATIONDATE', 'URL', 'PUBLISHER', "PUBLISHERYEAR",
       'NUMBEROFTWEETSBYCANDIDATES', 'NUMBEROFTWEETSFROMOTHERS', 'TWEETBY',
       'TWEETPRESENTATION', 'TWEETGENERICFRAMESDOMINANT',
       'TWEETGENERICFRAMESSECONDARY', 'TWEETEMOTIONALFRAMES',
       'TWEETCONTAINSFALSESTATEMENT', 'TWEETCLAIMSSOMETHINGELSEISFALSE',
       'TWEETTOPIC', 'TWEETROLETOTHESTORY', 'STORYROLETOTWEET']]
DVtweet=['NUMBEROFTWEETSBYCANDIDATES', 'NUMBEROFTWEETSFROMOTHERS', 'TWEETBY',
       'TWEETPRESENTATION', 'TWEETGENERICFRAMESDOMINANT',
       'TWEETGENERICFRAMESSECONDARY', 'TWEETEMOTIONALFRAMES',
       'TWEETCONTAINSFALSESTATEMENT', 'TWEETCLAIMSSOMETHINGELSEISFALSE',
       'TWEETTOPIC', 'TWEETROLETOTHESTORY', 'STORYROLETOTWEET']
dftweet
dftweet2020=dftweet.loc[dftweet['YEAR'] == "2020"]
dftweet2016=dftweet.loc[dftweet['YEAR'] == "2016"]
dftweetFOX=dftweet.loc[dftweet['PUBLISHER'] == "fox"]
dftweetCNN=dftweet.loc[dftweet['PUBLISHER'] == "cnn"]
dftweetFOX2016=dftweetFOX.loc[dftweetFOX['YEAR'] == "2016"]
dftweetCNN2016=dftweetCNN.loc[dftweetCNN['YEAR'] == "2016"]
dftweetFOX2020=dftweetFOX.loc[dftweetFOX['YEAR'] == "2020"]
dftweetCNN2020=dftweetCNN.loc[dftweetCNN['YEAR'] == "2020"]

In [153]:
df2016=df.loc[df['YEAR'] == "2016"]
dfFOX2016=df2016.loc[df2016['PUBLISHER'] == "fox"]
dfCNN2016=df2016.loc[df2016['PUBLISHER'] == "cnn"]

In [154]:
pyreadstat.write_sav(df, "df.sav")
pyreadstat.write_sav(dfstory, "dfstory.sav")
pyreadstat.write_sav(dftweet, "dftweet.sav")
pyreadstat.write_sav(dfstoryFOX, "dfstoryFOX.sav")
pyreadstat.write_sav(dfstoryCNN, "dfstoryCNN.sav")
pyreadstat.write_sav(dftweetFOX, "dftweetFOX.sav")
pyreadstat.write_sav(dftweetCNN, "dftweetCNN.sav")
pyreadstat.write_sav(dfstory2020, "dfstory2020.sav")
pyreadstat.write_sav(dftweet2020, "dftweet2020.sav")
pyreadstat.write_sav(dfstory2016, "dfstory2016.sav")
pyreadstat.write_sav(dftweet2016, "dftweet2016.sav")
pyreadstat.write_sav(dftweetFOX2016, "dftweetFOX2016.sav")
pyreadstat.write_sav(dftweetCNN2016, "dftweetCNN2016.sav")
pyreadstat.write_sav(dfFOX2016, "dfFOX2016.sav")
pyreadstat.write_sav(dfCNN2016, "dfCNN2016.sav")

In [155]:
dfx=pd.crosstab(dfstory2020.STORYFACTCHECKSTWEET, dfstory2020.PUBLISHER, margins=False)

In [156]:
dfx

PUBLISHER             cnn  fox
STORYFACTCHECKSTWEET
no                     80   68
yes                    39    8

In [157]:
# chisquare(f_obs=dfx.cnn, f_exp=dfx.fox)

# # Initialize a CamresV object using you pandas.DataFrame
# cramersv = am.CramersV(df)
# # will return a pairwise matrix filled with Cramer's V, where columns and index are 
# # the categorical variables of the passed pandas.DataFrame
# cramersv.fit()

In [158]:
#creating a contingency table for x2
data = dfstory2020[["STORYFACTCHECKSTWEET", "PUBLISHER"]]
table = sm.stats.Table.from_data(data)
print(table.table_orig)
#calculating the p value
rslt = table.test_nominal_association()
print('p = ' + rslt.pvalue.round(3).astype(str))
#conditional p value report
if rslt.pvalue < 0.05 and rslt.pvalue > 0.01:
    print("significant")
elif rslt.pvalue < 0.01:
    print("very significant")
else:
    print("not significant")

PUBLISHER             cnn  fox
STORYFACTCHECKSTWEET
no                     80   68
yes                    39    8
p = 0.0
very significant

In [159]:
pg.ttest(dftweetCNN2016.NUMBEROFTWEETSBYCANDIDATES, dftweetFOX2016.NUMBEROFTWEETSBYCANDIDATES).round(3)

            T     dof alternative  p-val          CI95%  cohen-d   BF10  power
T-test  0.658  60.803   two-sided  0.513  [-0.55, 1.08]    0.126  0.313  0.077

In [160]:
pg.ttest(dftweetCNN2016.NUMBEROFTWEETSBYCANDIDATES, dftweetCNN2020.NUMBEROFTWEETSBYCANDIDATES).round(2)

           T    dof alternative  p-val         CI95%  cohen-d   BF10  power
T-test  2.55  65.05   two-sided   0.01  [0.16, 1.35]     0.53  3.273   0.92

In [161]:
dftweetCNN2016.NUMBEROFTWEETSBYCANDIDATES.describe().round(2)

count    63.00
mean      1.97
std       2.33
min       1.00
25%       1.00
50%       1.00
75%       2.00
max      15.00
Name: NUMBEROFTWEETSBYCANDIDATES, dtype: float64

In [162]:
dftweetCNN2020.NUMBEROFTWEETSBYCANDIDATES.describe().round(2)

count    119.00
mean       1.21
std        0.50
min        1.00
25%        1.00
50%        1.00
75%        1.00
max        3.00
Name: NUMBEROFTWEETSBYCANDIDATES, dtype: float64

In [163]:
pg.ttest(dftweetFOX2016.NUMBEROFTWEETSBYCANDIDATES, dftweetFOX2020.NUMBEROFTWEETSBYCANDIDATES).round(3)

            T     dof alternative  p-val          CI95%  cohen-d  BF10  power
T-test  0.354  35.419   two-sided  0.725  [-0.56, 0.79]    0.078  0.27  0.061

In [164]:
dftweetCNN.TWEETBY.value_counts()

TWEETBY
trump     229
biden      23
harris      7
pence       5
Name: count, dtype: int64

In [165]:
pd.crosstab(dfstory.PUBLISHER, dfstory.YEAR, margins=True)

YEAR       2016  2020  All
PUBLISHER
cnn          64   121  185
fox          19    76   95
All          83   197  280

In [166]:
pd.crosstab(dfstory.PUBLISHER, dfstory.YEAR, margins=True).to_csv("table1.csv")
pd.crosstab(dftweet.PUBLISHER, dftweet.YEAR, margins=True).to_csv("table2.csv")

In [167]:
# pd.crosstab(dfstory2016.STORYFACTCHECKSTWEET, dfstory2016.PUBLISHER, normalize='columns').round(2)*100

In [168]:
# pd.crosstab(dfstoryCNN.STORYTYPE, dfstoryCNN.YEAR, normalize='columns').round(2)*100

In [169]:
# pd.crosstab(dfstoryCNN.STORYTOPIC, dfstoryCNN.YEAR, normalize='columns').round(2)*100

In [170]:
# pd.crosstab(dfstoryCNN.STORYEMOTIONALFRAMES, dfstoryCNN.YEAR, normalize='columns').round(2)*100

YEAR                  2016  2020
STORYEMOTIONALFRAMES
3.0                    5.0   0.0
negative              94.0  91.0
positive               2.0   9.0

In [171]:
# pd.crosstab(dfstoryCNN.SENSATIONALISM, dfstoryCNN.YEAR, normalize='columns').round(2)*100

YEAR            2016  2020
SENSATIONALISM
no              79.0  98.0
yes             21.0   2.0

In [172]:
# T3_0=pd.crosstab(dfstoryCNN.STORYTYPE, dfstoryCNN.YEAR, normalize='columns').round(2)*100
# T3_1=pd.crosstab(dfstoryCNN.STORYTOPIC, dfstoryCNN.YEAR, normalize='columns').round(2)*100 
# T3_2=pd.crosstab(dfstoryCNN.STORYEMOTIONALFRAMES, dfstoryCNN.YEAR, normalize='columns').round(2)*100
# T3_3=pd.crosstab(dfstoryCNN.SENSATIONALISM, dfstoryCNN.YEAR, normalize='columns').round(2)*100
# pd.concat([T3_0, T3_1, T3_2, T3_3]).to_csv("table3.csv")

In [173]:
# T4_0=pd.crosstab(dfstoryFOX.STORYTOPIC, dfstoryFOX.YEAR, normalize='columns').round(2)*100
# T4_1=pd.crosstab(dfstoryFOX.STORYGENERICFRAMESDOMINANT, dfstoryFOX.YEAR, normalize='columns').round(2)*100
# T4_2=pd.crosstab(dfstoryFOX.STORYEMOTIONALFRAMES, dfstoryFOX.YEAR, normalize='columns').round(2)*100
# pd.concat([T4_0, T4_1, T4_2]).to_csv("table4.csv")

In [174]:
# T5_0=pd.crosstab(dftweet2016.TWEETTOPIC, dftweet2016.PUBLISHER, normalize='columns').round(2)*100
# T5_1=pd.crosstab(dftweet2016.TWEETPRESENTATION, dftweet2016.PUBLISHER, normalize='columns').round(2)*100
# T5_2=pd.crosstab(dftweet2016.TWEETROLETOTHESTORY, dftweet2016.PUBLISHER, normalize='columns').round(2)*100
# T5_3=pd.crosstab(dftweet2016.STORYROLETOTWEET, dftweet2016.PUBLISHER, normalize='columns').round(2)*100
# T5_4=pd.crosstab(dftweet2016.TWEETGENERICFRAMESDOMINANT, dftweet2016.PUBLISHER, normalize='columns').round(2)*100
# T5_5=pd.crosstab(dftweet2016.TWEETEMOTIONALFRAMES, dftweet2016.PUBLISHER, normalize='columns').round(2)*100
# pd.concat([T5_0, T5_1, T5_2, T5_3, T5_4, T5_5]).to_csv("table5.csv")

In [175]:
# T6_0=pd.crosstab(dftweet.TWEETTOPIC, dftweet.YEAR, normalize='columns').round(2)*100
# T6_1=pd.crosstab(dftweet.TWEETPRESENTATION, dftweet.YEAR, normalize='columns').round(2)*100
# T6_2=pd.crosstab(dftweet.TWEETGENERICFRAMESDOMINANT, dftweet.YEAR, normalize='columns').round(2)*100
# T6_3=pd.crosstab(dftweet.TWEETEMOTIONALFRAMES, dftweet.YEAR, normalize='columns').round(2)*100
# T6_4=pd.crosstab(dftweet.TWEETROLETOTHESTORY, dftweet.YEAR, normalize='columns').round(2)*100
# T6_5=pd.crosstab(dftweet.STORYROLETOTWEET, dftweet.YEAR, normalize='columns').round(2)*100
# pd.concat([T6_0, T6_1, T6_2, T6_3, T6_4, T6_5]).to_csv("table6.csv")

In [176]:
# T7_1=pd.crosstab(dftweetFOX.TWEETROLETOTHESTORY, dftweetFOX.YEAR, normalize='columns').round(2)*100
# T7_2=pd.crosstab(dftweetFOX.STORYROLETOTWEET, dftweetFOX.YEAR, normalize='columns').round(2)*100
# pd.concat([T7_0, T7_1, T7_2]).to_csv("table7.csv")

In [177]:
# dftweetFOX.TWEETPRESENTATION.value_counts()

In [178]:
# T8_01=pd.crosstab(dftweet2016.TWEETGENERICFRAMESDOMINANT, dftweet2016.TWEETBY, normalize='columns').round(2)*100
# T8_02=pd.crosstab(dftweet2016.TWEETEMOTIONALFRAMES, dftweet2016.TWEETBY, normalize='columns').round(2)*100
# T8_03=pd.crosstab(dftweet2016.TWEETTOPIC, dftweet2016.TWEETBY, normalize='columns').round(2)*100
# pd.concat([T8_01, T8_02, T8_03]).to_csv("table8.csv")

In [179]:
df.TWEETBY.value_counts()

TWEETBY
trump     352
biden      44
harris     14
pence       8
Name: count, dtype: int64

In [180]:
# T34_0=pd.crosstab(dfstoryCNN.STORYTYPE, dfstoryCNN.YEAR, normalize='columns').round(2)*100
# T34_1=pd.crosstab(dfstoryCNN.STORYTOPIC, dfstoryCNN.YEAR, normalize='columns').round(2)*100 
# T34_2=pd.crosstab(dfstoryCNN.STORYGENERICFRAMESDOMINANT, dfstoryCNN.YEAR, normalize='columns').round(2)*100 
# T34_3=pd.crosstab(dfstoryCNN.STORYEMOTIONALFRAMES, dfstoryCNN.YEAR, normalize='columns').round(2)*100
# T34_4=pd.crosstab(dfstoryCNN.SENSATIONALISM, dfstoryCNN.YEAR, normalize='columns').round(2)*100
# pd.concat([T34_0, T34_1, T34_2, T34_3, T34_4]).to_csv("table34_1.csv")
# T34_5=pd.crosstab(dfstoryFOX.STORYTYPE, dfstoryFOX.YEAR, normalize='columns').round(2)*100
# T34_6=pd.crosstab(dfstoryFOX.STORYTOPIC, dfstoryFOX.YEAR, normalize='columns').round(2)*100
# T34_7=pd.crosstab(dfstoryFOX.STORYGENERICFRAMESDOMINANT, dfstoryFOX.YEAR, normalize='columns').round(2)*100 
# T34_8=pd.crosstab(dfstoryFOX.STORYEMOTIONALFRAMES, dfstoryFOX.YEAR, normalize='columns').round(2)*100
# T34_9=pd.crosstab(dfstoryFOX.SENSATIONALISM, dfstoryFOX.YEAR, normalize='columns').round(2)*100
# pd.concat([T34_5, T34_6, T34_7, T34_8, T34_9]).to_csv("table34_2.csv")

In [181]:
#Cross tabulation for Stories, percentages
T34_0=pd.crosstab(df.STORYTYPE, [df.PUBLISHER, df.YEAR], dropna=False, normalize='columns').round(2)*100
T34_1=pd.crosstab(df.STORYTOPIC, [df.PUBLISHER, df.YEAR], dropna=False, normalize='columns').round(2)*100
T34_2=pd.crosstab(df.STORYGENERICFRAMESDOMINANT, [df.PUBLISHER, df.YEAR], dropna=False, normalize='columns').round(2)*100
T34_3=pd.crosstab(df.STORYEMOTIONALFRAMES, [df.PUBLISHER, df.YEAR], dropna=False, normalize='columns').round(2)*100
T34_4=pd.crosstab(df.SENSATIONALISM, [df.PUBLISHER, df.YEAR], dropna=False, normalize='columns').round(2)*100
# pd.concat([T34_0, T34_1, T34_2, T34_3, T34_4]).to_csv("table34.csv")
T34=pd.concat([T34_0, T34_1, T34_2, T34_3, T34_4])

In [182]:
#Cross tabulation for Stories, raw numbers
T34_0=pd.crosstab(df.STORYTYPE, [df.PUBLISHER, df.YEAR], dropna=False).round(2)
T34_1=pd.crosstab(df.STORYTOPIC, [df.PUBLISHER, df.YEAR], dropna=False).round(2)
T34_2=pd.crosstab(df.STORYGENERICFRAMESDOMINANT, [df.PUBLISHER, df.YEAR], dropna=False).round(2)
T34_3=pd.crosstab(df.STORYEMOTIONALFRAMES, [df.PUBLISHER, df.YEAR], dropna=False).round(2)
T34_4=pd.crosstab(df.SENSATIONALISM, [df.PUBLISHER, df.YEAR], dropna=False).round(2)
# pd.concat([T34_0, T34_1, T34_2, T34_3, T34_4]).to_csv("table34raw.csv")
T34raw=pd.concat([T34_0, T34_1, T34_2, T34_3, T34_4])

In [183]:
#Alternating columns of T34 and T34raw
T34all=pd.concat([T34, T34raw], axis=1)
T34all=T34all[[item for items in zip(T34raw.columns, T34.columns) for item in items]]
T34all.to_csv("table34all.csv")

In [184]:
#Cross tabulation for Tweets, percentages
T567_1=pd.crosstab(df.TWEETTOPIC, [df.PUBLISHER, df.YEAR], dropna=False, normalize='columns').round(2)*100
T567_2=pd.crosstab(df.TWEETPRESENTATION, [df.PUBLISHER, df.YEAR], dropna=False, normalize='columns').round(2)*100
T567_3=pd.crosstab(df.TWEETGENERICFRAMESDOMINANT, [df.PUBLISHER, df.YEAR], dropna=False, normalize='columns').round(2)*100
T567_4=pd.crosstab(df.TWEETEMOTIONALFRAMES, [df.PUBLISHER, df.YEAR], dropna=False, normalize='columns').round(2)*100
T567_5=pd.crosstab(df.TWEETROLETOTHESTORY, [df.PUBLISHER, df.YEAR], dropna=False, normalize='columns').round(2)*100
T567_6=pd.crosstab(df.STORYROLETOTWEET, [df.PUBLISHER, df.YEAR], dropna=False, normalize='columns').round(2)*100
# pd.concat([T567_1, T567_2, T567_3, T567_4, T567_5, T567_6]).to_csv("table567.csv")
T567=pd.concat([T567_1, T567_2, T567_3, T567_4, T567_5, T567_6])

In [185]:
#Cross tabulation for Tweets, raw numbers
T567_1=pd.crosstab(df.TWEETTOPIC, [df.PUBLISHER, df.YEAR], dropna=False).round(2)
T567_2=pd.crosstab(df.TWEETPRESENTATION, [df.PUBLISHER, df.YEAR], dropna=False).round(2)
T567_3=pd.crosstab(df.TWEETGENERICFRAMESDOMINANT, [df.PUBLISHER, df.YEAR], dropna=False).round(2)
T567_4=pd.crosstab(df.TWEETEMOTIONALFRAMES, [df.PUBLISHER, df.YEAR], dropna=False).round(2)
T567_5=pd.crosstab(df.TWEETROLETOTHESTORY, [df.PUBLISHER, df.YEAR], dropna=False).round(2)
T567_6=pd.crosstab(df.STORYROLETOTWEET, [df.PUBLISHER, df.YEAR], dropna=False).round(2)
# pd.concat([T567_1, T567_2, T567_3, T567_4, T567_5, T567_6]).to_csv("table567raw.csv")   
T567raw=pd.concat([T567_1, T567_2, T567_3, T567_4, T567_5, T567_6])

In [186]:
#Alternating columns of T567 and T567raw
T567all=pd.concat([T567, T567raw], axis=1)
T567all=T567all[[item for items in zip(T567raw.columns, T567.columns) for item in items]]
T567all.to_csv("table567all.csv")

In [187]:
Tby1=pd.crosstab(dftweet2016.TWEETTOPIC, dftweet2016.TWEETBY, dropna=False, normalize='columns').round(2)*100
Tby2=pd.crosstab(dftweet2016.TWEETPRESENTATION, dftweet2016.TWEETBY, dropna=False, normalize='columns').round(2)*100
Tby3=pd.crosstab(dftweet2016.TWEETGENERICFRAMESDOMINANT, dftweet2016.TWEETBY, dropna=False, normalize='columns').round(2)*100
Tby4=pd.crosstab(dftweet2016.TWEETEMOTIONALFRAMES, dftweet2016.TWEETBY, dropna=False, normalize='columns').round(2)*100
Tby5=pd.crosstab(dftweet2016.TWEETROLETOTHESTORY, dftweet2016.TWEETBY, dropna=False, normalize='columns').round(2)*100
Tby6=pd.crosstab(dftweet2016.STORYROLETOTWEET, dftweet2016.TWEETBY, dropna=False, normalize='columns').round(2)*100
pd.concat([Tby1, Tby2, Tby3, Tby4, Tby5, Tby6]).to_csv("tableTweetby.csv")
Tby=pd.concat([Tby1, Tby2, Tby3, Tby4, Tby5, Tby6])

In [188]:
TbyR1=pd.crosstab(df.TWEETTOPIC, dftweet2016.TWEETBY,  dropna=False).round(2)
TbyR2=pd.crosstab(df.TWEETPRESENTATION, dftweet2016.TWEETBY, dropna=False).round(2)
TbyR3=pd.crosstab(df.TWEETGENERICFRAMESDOMINANT, dftweet2016.TWEETBY,  dropna=False).round(2)
TbyR4=pd.crosstab(df.TWEETEMOTIONALFRAMES, dftweet2016.TWEETBY,  dropna=False).round(2)
TbyR5=pd.crosstab(df.TWEETROLETOTHESTORY, dftweet2016.TWEETBY,  dropna=False).round(2)
TbyR6=pd.crosstab(df.STORYROLETOTWEET, dftweet2016.TWEETBY,  dropna=False).round(2)
pd.concat([TbyR1, TbyR2, TbyR3, TbyR4, TbyR5, TbyR6]).to_csv("tableTweetbyRaw.csv")
TbyRaw=pd.concat([TbyR1, TbyR2, TbyR3, TbyR4, TbyR5, TbyR6])

In [189]:
#alternating columns of Tby and TbyRaw
TbyAll=pd.concat([Tby, TbyRaw], axis=1)
TbyAll=TbyAll[[item for items in zip(TbyRaw.columns, Tby.columns) for item in items]]
TbyAll.to_csv("tableTweetbyAll.csv")

In [190]:
dftweet2016.TWEETBY.value_counts()

TWEETBY
trump     131
biden      19
pence       6
harris      0
Name: count, dtype: int64

In [191]:
dftweet2016.PUBLISHER.value_counts()

PUBLISHER
cnn    123
fox     34
Name: count, dtype: int64

In [192]:
pd.crosstab(dfstory.PUBLISHER, dfstory.YEAR, margins=True)

YEAR       2016  2020  All
PUBLISHER
cnn          64   121  185
fox          19    76   95
All          83   197  280

In [193]:
dfstory.STORYNUMBER.value_counts()

STORYNUMBER
1.0       1
186.0     1
192.0     1
191.0     1
190.0     1
         ..
101.0     1
102.0     1
103.0     1
104.0     1
1725.0    1
Name: count, Length: 280, dtype: int64

In [194]:
#unit of analysis is story
dfstory2=df[['STORYNUMBER', 'CODER', 'YEAR', 'PUBLICATIONDATE', 'URL', 'PUBLISHER', "PUBLISHERYEAR",
       'STORYTYPE', 'STORYTOPIC', 'STORYGENERICFRAMESDOMINANT',
       'STORYGENERICFRAMESSECONDARY', 'STORYEMOTIONALFRAMES',
       'STORYCONTAINSFALSESTATEMENT', 'STORYCLAIMSANOTHERSOURCEISFALSE',
       'STORYFACTCHECKSTWEET', 'SENSATIONALISM', 'src_expert', 'src_opponent',
       'src_otherpolitician', 'src_privatecitizen', 'src_media', 'src_other']]
#remove duplicates
dfstory2.drop_duplicates(subset=['STORYNUMBER', 'URL'], keep='first', inplace=True)

#unit of analysis is story
dfstory3=df[['STORYNUMBER', 'CODER', 'YEAR', 'PUBLICATIONDATE', 'URL', 'PUBLISHER', "PUBLISHERYEAR",
       'STORYTYPE', 'STORYTOPIC', 'STORYGENERICFRAMESDOMINANT',
       'STORYGENERICFRAMESSECONDARY', 'STORYEMOTIONALFRAMES',
       'STORYCONTAINSFALSESTATEMENT', 'STORYCLAIMSANOTHERSOURCEISFALSE',
       'STORYFACTCHECKSTWEET', 'SENSATIONALISM', 'src_expert', 'src_opponent',
       'src_otherpolitician', 'src_privatecitizen', 'src_media', 'src_other']]
#remove duplicates
dfstory3.drop_duplicates(subset=['URL'], keep='first', inplace=True)

/var/folders/p9/s35_kx491l3f1qcxx11y7p280000gn/T/ipykernel_26346/1666503977.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfstory2.drop_duplicates(subset=['STORYNUMBER', 'URL'], keep='first', inplace=True)
/var/folders/p9/s35_kx491l3f1qcxx11y7p280000gn/T/ipykernel_26346/1666503977.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfstory3.drop_duplicates(subset=['URL'], keep='first', inplace=True)

In [195]:
pd.crosstab(dfstory2.PUBLISHER, dfstory2.YEAR, margins=True)

YEAR       2016  2020  All
PUBLISHER
cnn          64   121  185
fox          19    77   96
All          83   198  281

In [196]:
dfstory.duplicated(subset=['URL']).value_counts()

False    275
True       5
Name: count, dtype: int64

In [197]:
pd.crosstab(dfstory3.PUBLISHER, dfstory3.YEAR, margins=True)

YEAR       2016  2020  All
PUBLISHER
cnn          64   118  182
fox          19    75   94
All          83   193  276