In [20]:
 #using mystats env
import pandas as pd
import pingouin as pg
import association_metrics as am
from scipy.stats import chisquare
import pyreadstat
import statsmodels.api as sm

In [21]:
#open file
df=pd.read_spss("2020_2016_cnn_fox_tweets_coverage.sav")
#check column names
df.columns

Index(['STORYNUMBER', 'CODER', 'YEAR', 'PUBLICATIONDATE', 'URL', 'PUBLISHER',
       'STORYTYPE', 'STORYTOPIC', 'STORYGENERICFRAMESDOMINANT',
       'STORYGENERICFRAMESSECONDARY', 'STORYEMOTIONALFRAMES',
       'STORYCONTAINSFALSESTATEMENT', 'STORYCLAIMSANOTHERSOURCEISFALSE',
       'STORYFACTCHECKSTWEET', 'SENSATIONALISM', 'src_expert', 'src_opponent',
       'src_otherpolitician', 'src_privatecitizen', 'src_media', 'src_other',
       'NUMBEROFTWEETSBYCANDIDATES', 'NUMBEROFTWEETSFROMOTHERS', 'TWEETBY',
       'TWEETPRESENTATION', 'TWEETGENERICFRAMESDOMINANT',
       'TWEETGENERICFRAMESSECONDARY', 'TWEETEMOTIONALFRAMES',
       'TWEETCONTAINSFALSESTATEMENT', 'TWEETCLAIMSSOMETHINGELSEISFALSE',
       'TWEETTOPIC', 'TWEETROLETOTHESTORY', 'STORYROLETOTWEET', 'filter_$',
       'SRC_TOTAL'],
      dtype='object')

In [22]:
#create a new column with the publisher and year
df["PUBLISHERYEAR"]=df.PUBLISHER.astype(str)+df.YEAR.astype(str)
df.to_csv("2020_2016_cnn_fox_tweets_coverage.csv")

In [23]:
#unit of analysis is story
dfstory=df[['STORYNUMBER', 'CODER', 'YEAR', 'PUBLICATIONDATE', 'URL', 'PUBLISHER', "PUBLISHERYEAR",
       'STORYTYPE', 'STORYTOPIC', 'STORYGENERICFRAMESDOMINANT',
       'STORYGENERICFRAMESSECONDARY', 'STORYEMOTIONALFRAMES',
       'STORYCONTAINSFALSESTATEMENT', 'STORYCLAIMSANOTHERSOURCEISFALSE',
       'STORYFACTCHECKSTWEET', 'SENSATIONALISM', 'src_expert', 'src_opponent',
       'src_otherpolitician', 'src_privatecitizen', 'src_media', 'src_other']]
#remove duplicates
dfstory.drop_duplicates(subset=['STORYNUMBER'], keep='first', inplace=True)
dfstory
#dv list for stories
DVstory=['STORYTYPE', 'STORYTOPIC', 'STORYGENERICFRAMESDOMINANT',
       'STORYGENERICFRAMESSECONDARY', 'STORYEMOTIONALFRAMES',
       'STORYCONTAINSFALSESTATEMENT', 'STORYCLAIMSANOTHERSOURCEISFALSE',
       'STORYFACTCHECKSTWEET', 'SENSATIONALISM', 'src_expert', 'src_opponent',
       'src_otherpolitician', 'src_privatecitizen', 'src_media', 'src_other']
dfstory
dfstory2020=dfstory.loc[dfstory['YEAR'] == "2020"]
dfstory2016=dfstory.loc[dfstory['YEAR'] == "2016"]
dfstoryFOX=dfstory.loc[dfstory['PUBLISHER'] == "fox"]
dfstoryCNN=dfstory.loc[dfstory['PUBLISHER'] == "cnn"]

/var/folders/p9/s35_kx491l3f1qcxx11y7p280000gn/T/ipykernel_56105/4248754915.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfstory.drop_duplicates(subset=['STORYNUMBER'], keep='first', inplace=True)

In [24]:
#unit of analysis is tweet
dftweet=df[['STORYNUMBER', 'CODER', 'YEAR', 'PUBLICATIONDATE', 'URL', 'PUBLISHER', "PUBLISHERYEAR",
       'NUMBEROFTWEETSBYCANDIDATES', 'NUMBEROFTWEETSFROMOTHERS', 'TWEETBY',
       'TWEETPRESENTATION', 'TWEETGENERICFRAMESDOMINANT',
       'TWEETGENERICFRAMESSECONDARY', 'TWEETEMOTIONALFRAMES',
       'TWEETCONTAINSFALSESTATEMENT', 'TWEETCLAIMSSOMETHINGELSEISFALSE',
       'TWEETTOPIC', 'TWEETROLETOTHESTORY', 'STORYROLETOTWEET']]
DVtweet=['NUMBEROFTWEETSBYCANDIDATES', 'NUMBEROFTWEETSFROMOTHERS', 'TWEETBY',
       'TWEETPRESENTATION', 'TWEETGENERICFRAMESDOMINANT',
       'TWEETGENERICFRAMESSECONDARY', 'TWEETEMOTIONALFRAMES',
       'TWEETCONTAINSFALSESTATEMENT', 'TWEETCLAIMSSOMETHINGELSEISFALSE',
       'TWEETTOPIC', 'TWEETROLETOTHESTORY', 'STORYROLETOTWEET']
dftweet
dftweet2020=dftweet.loc[dftweet['YEAR'] == "2020"]
dftweet2016=dftweet.loc[dftweet['YEAR'] == "2016"]
dftweetFOX=dftweet.loc[dftweet['PUBLISHER'] == "fox"]
dftweetCNN=dftweet.loc[dftweet['PUBLISHER'] == "cnn"]
dftweetFOX2016=dftweetFOX.loc[dftweetFOX['YEAR'] == "2016"]
dftweetCNN2016=dftweetCNN.loc[dftweetCNN['YEAR'] == "2016"]
dftweetFOX2020=dftweetFOX.loc[dftweetFOX['YEAR'] == "2020"]
dftweetCNN2020=dftweetCNN.loc[dftweetCNN['YEAR'] == "2020"]

In [25]:
df2016=df.loc[df['YEAR'] == "2016"]
dfFOX2016=df2016.loc[df2016['PUBLISHER'] == "fox"]
dfCNN2016=df2016.loc[df2016['PUBLISHER'] == "cnn"]

In [26]:
pyreadstat.write_sav(df, "df.sav")
pyreadstat.write_sav(dfstory, "dfstory.sav")
pyreadstat.write_sav(dftweet, "dftweet.sav")
pyreadstat.write_sav(dfstoryFOX, "dfstoryFOX.sav")
pyreadstat.write_sav(dfstoryCNN, "dfstoryCNN.sav")
pyreadstat.write_sav(dftweetFOX, "dftweetFOX.sav")
pyreadstat.write_sav(dftweetCNN, "dftweetCNN.sav")
pyreadstat.write_sav(dfstory2020, "dfstory2020.sav")
pyreadstat.write_sav(dftweet2020, "dftweet2020.sav")
pyreadstat.write_sav(dfstory2016, "dfstory2016.sav")
pyreadstat.write_sav(dftweet2016, "dftweet2016.sav")
pyreadstat.write_sav(dftweetFOX2016, "dftweetFOX2016.sav")
pyreadstat.write_sav(dftweetCNN2016, "dftweetCNN2016.sav")
pyreadstat.write_sav(dfFOX2016, "dfFOX2016.sav")
pyreadstat.write_sav(dfCNN2016, "dfCNN2016.sav")

In [27]:
dfx=pd.crosstab(dfstory2020.STORYFACTCHECKSTWEET, dfstory2020.PUBLISHER, margins=False)

In [28]:
dfx

PUBLISHER             cnn  fox
STORYFACTCHECKSTWEET
no                     80   68
yes                    39    8

In [29]:
# chisquare(f_obs=dfx.cnn, f_exp=dfx.fox)

# # Initialize a CamresV object using you pandas.DataFrame
# cramersv = am.CramersV(df)
# # will return a pairwise matrix filled with Cramer's V, where columns and index are 
# # the categorical variables of the passed pandas.DataFrame
# cramersv.fit()

In [30]:
#creating a contingency table for x2
data = dfstory2020[["STORYFACTCHECKSTWEET", "PUBLISHER"]]
table = sm.stats.Table.from_data(data)
print(table.table_orig)
#calculating the p value
rslt = table.test_nominal_association()
print('p = ' + rslt.pvalue.round(3).astype(str))
#conditional p value report
if rslt.pvalue < 0.05 and rslt.pvalue > 0.01:
    print("significant")
elif rslt.pvalue < 0.01:
    print("very significant")
else:
    print("not significant")

PUBLISHER             cnn  fox
STORYFACTCHECKSTWEET
no                     80   68
yes                    39    8
p = 0.0
very significant

In [31]:
# pd.crosstab(df.team, df.position, normalize='columns')

In [32]:
df.NUMBEROFTWEETSBYCANDIDATES.value_counts()

NUMBEROFTWEETSBYCANDIDATES
1.0     209
2.0      49
3.0       9
4.0       5
6.0       3
5.0       2
13.0      1
8.0       1
9.0       1
15.0      1
Name: count, dtype: int64

In [33]:
df.TWEETPRESENTATION.value_counts()

TWEETPRESENTATION
embedded_cited          142
cited                    97
cited_linked             47
embedded                 46
paraphrased              43
cited_paraphrased        18
paraphrased_linked       15
embedded_paraphrased      8
linked                    3
Name: count, dtype: int64

In [34]:
pg.ttest(dftweetCNN2016.NUMBEROFTWEETSBYCANDIDATES, dftweetFOX2016.NUMBEROFTWEETSBYCANDIDATES).round(3)

            T     dof alternative  p-val          CI95%  cohen-d   BF10  power
T-test  0.658  60.803   two-sided  0.513  [-0.55, 1.08]    0.126  0.313  0.077

In [35]:
pg.ttest(dftweetCNN2016.NUMBEROFTWEETSBYCANDIDATES, dftweetCNN2020.NUMBEROFTWEETSBYCANDIDATES).round(2)

           T    dof alternative  p-val         CI95%  cohen-d   BF10  power
T-test  2.55  65.05   two-sided   0.01  [0.16, 1.35]     0.53  3.273   0.92

In [36]:
dftweetCNN2016.NUMBEROFTWEETSBYCANDIDATES.describe().round(2)

count    63.00
mean      1.97
std       2.33
min       1.00
25%       1.00
50%       1.00
75%       2.00
max      15.00
Name: NUMBEROFTWEETSBYCANDIDATES, dtype: float64

In [37]:
dftweetCNN2020.NUMBEROFTWEETSBYCANDIDATES.describe().round(2)

count    119.00
mean       1.21
std        0.50
min        1.00
25%        1.00
50%        1.00
75%        1.00
max        3.00
Name: NUMBEROFTWEETSBYCANDIDATES, dtype: float64

In [38]:
pg.ttest(dftweetFOX2016.NUMBEROFTWEETSBYCANDIDATES, dftweetFOX2020.NUMBEROFTWEETSBYCANDIDATES).round(3)

            T     dof alternative  p-val          CI95%  cohen-d  BF10  power
T-test  0.354  35.419   two-sided  0.725  [-0.56, 0.79]    0.078  0.27  0.061

In [39]:
dftweetCNN.TWEETBY.value_counts()

TWEETBY
trump     229
biden      23
harris      7
pence       5
Name: count, dtype: int64

In [44]:
pd.crosstab(dfstory.PUBLISHER, dfstory.YEAR, margins=True)

YEAR       2016  2020  All
PUBLISHER
cnn          64   121  185
fox          19    76   95
All          83   197  280

In [46]:
pd.crosstab(dfstory.PUBLISHER, dfstory.YEAR, margins=True).to_csv("table1.csv")
pd.crosstab(dftweet.PUBLISHER, dftweet.YEAR, margins=True).to_csv("table2.csv")

In [50]:
pd.crosstab(dfstory2016.STORYFACTCHECKSTWEET, dfstory2016.PUBLISHER, normalize='columns').round(2)*100

PUBLISHER              cnn   fox
STORYFACTCHECKSTWEET
no                    67.0  95.0
yes                   33.0   5.0

In [51]:
pd.crosstab(dfstoryCNN.STORYTYPE, dfstoryCNN.YEAR, normalize='columns').round(2)*100

YEAR       2016  2020
STORYTYPE
4.0         0.0   1.0
9.0         0.0   2.0
editorial  14.0  44.0
hard news   8.0   8.0
soft news  78.0  45.0

In [52]:
pd.crosstab(dfstoryCNN.STORYTOPIC, dfstoryCNN.YEAR, normalize='columns').round(2)*100

YEAR                    2016  2020
STORYTOPIC
attack                  27.0  19.0
campaign event or info  10.0   5.0
character traits         8.0   3.0
covid                    0.0  28.0
endorsement              3.0   1.0
horserace                5.0   8.0
media                   11.0   5.0
other                    8.0   3.0
policy issue            19.0  24.0
scandal                 10.0   3.0

In [53]:
pd.crosstab(dfstoryCNN.STORYEMOTIONALFRAMES, dfstoryCNN.YEAR, normalize='columns').round(2)*100

YEAR                  2016  2020
STORYEMOTIONALFRAMES
3.0                    5.0   0.0
negative              94.0  91.0
positive               2.0   9.0

In [54]:
pd.crosstab(dfstoryCNN.SENSATIONALISM, dfstoryCNN.YEAR, normalize='columns').round(2)*100

YEAR            2016  2020
SENSATIONALISM
no              79.0  98.0
yes             21.0   2.0

In [58]:
T3_0=pd.crosstab(dfstoryCNN.STORYTYPE, dfstoryCNN.YEAR, normalize='columns').round(2)*100
T3_1=pd.crosstab(dfstoryCNN.STORYTOPIC, dfstoryCNN.YEAR, normalize='columns').round(2)*100 
T3_2=pd.crosstab(dfstoryCNN.STORYEMOTIONALFRAMES, dfstoryCNN.YEAR, normalize='columns').round(2)*100
T3_3=pd.crosstab(dfstoryCNN.SENSATIONALISM, dfstoryCNN.YEAR, normalize='columns').round(2)*100
pd.concat([T3_0, T3_1, T3_2, T3_3]).to_csv("table3.csv")

In [59]:
T4_0=pd.crosstab(dfstoryFOX.STORYTOPIC, dfstoryFOX.YEAR, normalize='columns').round(2)*100
T4_1=pd.crosstab(dfstoryFOX.STORYGENERICFRAMESDOMINANT, dfstoryFOX.YEAR, normalize='columns').round(2)*100
T4_2=pd.crosstab(dfstoryFOX.STORYEMOTIONALFRAMES, dfstoryFOX.YEAR, normalize='columns').round(2)*100
pd.concat([T4_0, T4_1, T4_2]).to_csv("table4.csv")

In [60]:
dfstoryCNN.YEAR.value_counts()

YEAR
2020    121
2016     64
Name: count, dtype: int64

In [61]:
dfstoryFOX.YEAR.value_counts()

YEAR
2020    76
2016    19
Name: count, dtype: int64

In [62]:
T5_0=pd.crosstab(dftweet2016.TWEETTOPIC, dftweet2016.PUBLISHER, normalize='columns').round(2)*100
T5_1=pd.crosstab(dftweet2016.TWEETPRESENTATION, dftweet2016.PUBLISHER, normalize='columns').round(2)*100
T5_2=pd.crosstab(dftweet2016.TWEETROLETOTHESTORY, dftweet2016.PUBLISHER, normalize='columns').round(2)*100
T5_3=pd.crosstab(dftweet2016.STORYROLETOTWEET, dftweet2016.PUBLISHER, normalize='columns').round(2)*100
T5_4=pd.crosstab(dftweet2016.TWEETGENERICFRAMESDOMINANT, dftweet2016.PUBLISHER, normalize='columns').round(2)*100
T5_5=pd.crosstab(dftweet2016.TWEETEMOTIONALFRAMES, dftweet2016.PUBLISHER, normalize='columns').round(2)*100
pd.concat([T5_0, T5_1, T5_2, T5_3, T5_4, T5_5]).to_csv("table5.csv")

In [67]:
T6_0=pd.crosstab(dftweet.TWEETTOPIC, dftweet.YEAR, normalize='columns').round(2)*100
T6_1=pd.crosstab(dftweet.TWEETPRESENTATION, dftweet.YEAR, normalize='columns').round(2)*100
T6_2=pd.crosstab(dftweet.TWEETGENERICFRAMESDOMINANT, dftweet.YEAR, normalize='columns').round(2)*100
T6_3=pd.crosstab(dftweet.TWEETEMOTIONALFRAMES, dftweet.YEAR, normalize='columns').round(2)*100
T6_4=pd.crosstab(dftweet.TWEETROLETOTHESTORY, dftweet.YEAR, normalize='columns').round(2)*100
T6_5=pd.crosstab(dftweet.STORYROLETOTWEET, dftweet.YEAR, normalize='columns').round(2)*100
pd.concat([T6_0, T6_1, T6_2, T6_3, T6_4, T6_5]).to_csv("table6.csv")

In [70]:
T7_0=pd.crosstab(dftweetFOX.TWEETPRESENTATION, dftweetFOX.YEAR, normalize='columns').round(2)*100
T7_1=pd.crosstab(dftweetFOX.TWEETROLETOTHESTORY, dftweetFOX.YEAR, normalize='columns').round(2)*100
T7_2=pd.crosstab(dftweetFOX.STORYROLETOTWEET, dftweetFOX.YEAR, normalize='columns').round(2)*100
pd.concat([T7_0, T7_1, T7_2]).to_csv("table7.csv")